	<h2>Create New Contract</h2><br>

	<%= simple_form_for(@contract, url: {action: "create"},html: {multipart: true}) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :title, required: true, autofocus: true, label: "Title" %>
		<%= f.input :ownername, required: true, autofocus: true, label: "Owner Name" %>
		<%= f.input :nameofretail, required: true, autofocus: true, label: "Name Of Retail" %>
		<%= f.input :addofretail, required: true, autofocus: true, label: "Address of Retail" %>
		<%= f.input :contactno, required: true, autofocus: true, label: "Contact No" %>
		<%= f.input :emailid, required: true, autofocus: true, label: "Email id" %>
		<div>
			<%= f.input :image, as: :file , label: "Address Proof" %><br>
			<%= f.input :iproof, as: :file, label: "Identity Proof" %>
		</div>
	</div>
	<div class="wrapper">

		
		<div class="form-actions" align="center">
			<br>
			<%=f.button :submit, "Save", class: "btn btn-primary" %><br><br>
		</div>
			<%= link_to 'back', portal_dealers_path, class: "waves-effect waves-light btn" %>
	</div>



	<% end -%>





