<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<table class="responsive-table">
    <thead>
        <th>Customer Name</th>
        <th>Manufacturer</th>
        <th>Product ID</th>
        <th>Selling Price</th>
        <th>Date of Sale</th>
    </thead>
    <tbody>
        <% @payroll.each do |payroll| %>
        <tr>
            <td><%= payroll.custname %></td>
            <td><%= payroll.manufacturer %></td>
            <td><%= payroll.prodid %></td>
            <td><%= payroll.price %></td>
            <td><%= payroll.dateofsale %></td>
        </tr>
        <% end %>
    </tbody>
</table>