<!DOCTYPE html>
<html>
<head>
  <title>Rsc</title>
  <%= csrf_meta_tags %>

  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" %>

</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <h4 class="brand-logo"> RSC Portal</h4>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if dealer_signed_in? -%>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to current_dealer.name, edit_dealer_registration_path %></li>
        <li><%= link_to 'Sign out', destroy_dealer_session_path, :method => :delete %></li>
        <li><%= link_to 'DashBoard', portal_dealers_path %></li>
      </ul>
      <% else -%>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Dealer login', new_dealer_session_path %></li>
        <li><%= link_to 'OEM login', '#' %></li>
      </ul>
      <% end -%>
    </div>
  </nav>

  <div id="main_content" class="container">
    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

    <div id="content" class="col-md-9 center-block">
      <%= yield %>
    </div>
  </div>
</body>
</html>
